/*Settings page*/
input[type=checkbox].uomwoo-checkbox{
    display: none;
}
span.uomwoo-switch {
    height: 28px;
    width: 50px;
    border-radius: 30px;
    background: #99a6b8;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    padding: 2px 5px;
    position: relative;
    transition: all 0.3s ease;
}

span.uomwoo-switch::before {
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background: #ffffff;
    height: 24px;
    width: 24px;
    content: "";
    transition: all 0.3s ease;
}

span.switch-text {
    position: absolute;
    top: 50%;
    left: auto;
    transition: all 0.3s ease;
    display: none;
    transform: translateY(-50%);
    right: 10px;
}

.uomwoo-checkbox:checked~.uomwoo-switch .switch-text.on {
    display: block;
    left: 10px;
    right: auto;
}

.uomwoo-checkbox:checked~.uomwoo-switch::before {
    left: auto;
    right: 4px;
}

.uomwoo-checkbox:checked~.uomwoo-switch {
    background: #05cb6b;
}

span.switch-text.off {
    display: block;
}

.uomwoo-checkbox:checked~.uomwoo-switch .switch-text.off {
    display: none;
}

.woocommerce table.form-table {
    background: #fff;
    padding: 28px!important;
    border-radius: 5px;
}

.woocommerce table.form-table th {
    padding-left: 20px;
}

.woocommerce table.form-table label {
    margin: 0!important;
}

button.button-primary.woocommerce-save-button {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    font-weight: 500;
    padding: 0 20px;
    color: #ffffff;
    text-transform: capitalize;
    transition: .3s;
}

.woocommerce .subsubsub {
    background: #fff;
    float: none;
    margin: 0!important;
    border-radius: 5px;
}

.woocommerce .subsubsub a {
    display: inline-block;
    padding: 17px 20px;
    font-size: 14px;
    border-bottom: 2px solid #fff;
    color: #50575e;
    font-weight: 600;
}
.woocommerce .subsubsub a:focus{
    outline: none;
    box-shadow: none;
}

.woocommerce .subsubsub a.current {
    border-bottom: 2px solid #2271b1;
    color: #1d2327;
}

.uomwoo-column-shortable .ui-state-default {
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    cursor: move;
    font-weight: 500;
    font-size: 14px;
}

.uomwoo-column-shortable .ui-state-default span {
    margin-right: 10px;
}