/*Common Design*/
.umo-error-notice h2 {
    margin-bottom: 10px;
}
.umo-error-notice p {
    margin-bottom: 1em;
} 

/*Order Table Columns*/
th#uomwoo_order_items {
    width: 200px;
}

th#uomwoo_customer_user_agent {
    width: 135px;
}

th#uomwoo_customer_order_note {
    width: 135px;
}

th#uomwoo_payment_methods {
    width: 130px;
}
.woocommerce h2 {
    margin-bottom: 0;
    font-size: 20px;
}

div#uomwoo_general_settings_section_title-description p {
    margin-top: 10px;
    margin-bottom: 30px;
}